<nav>
  <a href="{{ site.baseurl }}/">Home</a>
  <a href="{{ site.baseurl }}/about">About</a>
  <div class="dropdown">
  <span>Gods</span>
  <div class="dropdown-content">
    {% for god in site.gods %}
    <div>
    <a href="{{ site.baseurl }}{{ god.url }}">
      {{ god.name }} - {{ god.title }}
    </a>
  </div>
  {% endfor %}
  </div>
</div>
<a href="{{ site.baseurl }}/world">World</a>
<div class="dropdown">
<span>Countries</span>
  <div class="dropdown-content">
    {% for country in site.countries %}
    <div>
    <a href="{{ site.baseurl }}{{ country.url }}">
      {{ country.title }}
    </a>
  </div>
  {% endfor %}
  </div>
</div>
<div class="dropdown">
<span>Cities</span>
  <div class="dropdown-content">
    {% for city in site.cities %}
    <div>
    <a href="{{ site.baseurl }}{{ city.url }}">
      {{ city.name }}
    </a>
  </div>
  {% endfor %}
  </div>
</div>
</nav>
