.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $bg-color;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content, .dropdown:focus .dropdown-content {
  display: block;
  a {
    display: block;
    padding: 6px;

    &:hover {
      background-color: $hightlight;
    }
  }
}