@import 'variables.scss';

body {
	background-color: $bg-color;
}

header{
	color: $text-color;
	h1 {
		font-family: the_bold_font;
		font-size: 60px;
		margin: 12px;
	}

	nav {

		& a {
			color: $text-color;
			text-decoration: none;
		}
		
		& > a, & > a:active, & > a:visited, & > a:focus, & > a:link, & > div{
			display: inline-block;
			padding:  6px 12px;
			background-color: $secondary-color;
			margin: 0 12px;

			&:hover {
				background-color: $hightlight;
			}

			@media screen and (max-device-width: 768px) {
  				font-size: 32px;
  				margin: 0 8px;
			}
		}
	}
}

main {
	color: $text-color;
	font-family: soft_elegance;
	max-width: 1500px;
	padding: 12px;
	h1 {
		color: $h1-color;
		border-bottom: 5px solid $h1-color;
		border-image: linear-gradient(0.25turn, $h1-color, transparent);
    	border-image-slice: 1;
    	padding-bottom: 5px;
    	font-size: 45px;
    	width: 60%;
	}
	h2 {
		color: $h2-color;
		border-bottom: 5px solid $h2-color;
		border-image: linear-gradient(0.25turn, $h2-color, transparent);
    	border-image-slice: 1;
    	padding-bottom: 5px;
    	font-size: 30px;
    	width: 50%;
	}
}