$bg-color: #1a1e24;
$text-color: #bccad8;
$h1-color: #c53b3b;
$h2-color: #e89e5d;
$secondary-color: #0b0f13;
$hightlight: #652121;

@mixin mobile {
	@media screen and (max-width: 768px) {
  		@content
	}
}