---
---
@import "variables.scss";
a, a:active, a:visited {
	display: block;
	text-decoration: none;
	padding:  6px 12px;
	background-color: $secondary-color;
	color: $text-color;
	margin: 12px 0;

	&:hover {
		background-color: $hightlight;
	}


}

img {
	width: 850px;
	display: block;
	margin-bottom: 12px;
}